<app-title></app-title>

<h3> Hay {{ transacciones?.length }} transacciones. </h3>

<div *ngIf="transacciones">
  <div *ngFor="let transaccion of transacciones">
    <span [ngClass]="{ 'spent': transaccion.kind=='spent', 'income': transaccion.kind=='income' }">
      <a routerLink="./transaction/{{transaccion.id}}">
        {{ transaccion.name }} - {{ transaccion.amount }}
      </a>
    </span>
  </div>
</div>

<div>
  <p [ngClass]="{ 'spent': balanceTotal < 0, 'income': balanceTotal > 0 }"> Balance Total: {{ balanceTotal }}</p>
</div>
